<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>TogetherUpdate</string>
	<key>CFBundleGetInfoString</key>
	<string>TogetherUpdate</string>
	<key>CFBundleIconFile</key>
	<string>togetherupdate.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.togethersphere.TogetherUpdate</string>
	<key>CFBundleName</key>
	<string>TogetherUpdate</string>
	<key>CFBundleDisplayName</key>
	<string>TogetherUpdate</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
